.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title h2 {
    font-size: 60px;
    color: var(--clr-dark);
    text-align: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 30px;
    }

    .btn{
        display: inline-flex;
        align-items: center;
        font-size: 15px;
        color: var(--clr-dark) ;
        font-weight: 500;
    }

    .btn span{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--clr-pink);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--clr-white);
        margin-left: 10px;
    }

